<%- include('../../partials/membersHead'); %>
<link rel="stylesheet" type="text/css" href="/public/cssFiles/members.css">
<link rel="stylesheet" type="text/css" href="/public/cssFiles/navbar_members.css">
</head>
<body>
<section>
    <%- include('../../partials/navbar_members'); %>
    <div class='spacer'></div>
<!-- ============================================================================ -->
<!--  -->

        <form class="purpleBox" action="/book_update" method='POST'> <!-- XXXXXXX -->
            <!-- This goes to the book_update function in ..api/routes/books.js. -->
        <p style="color:white">Update and submit to save.</p> 
        <br>           
          
            <div id="titleDiv" >
                <label for="title">Title</label>                   
                <button id="updateButton" type="submit" class="xx"> Submit </button>
                <br>
<!-- YYYYYY --><input type="hidden" name="id" value="<%= Books._id %>">  <!-- YYYYYY -->
<!-- ZZZZZZ --><input autofocus type="text" name='title' value="<%= Books.title %>" style="color:blueviolet" class="inputClass" placeholder='Enter book title' required/>
            </div>
            <br>
            <div>
                <label for="author">author</label>
                <br>
<!-- AAAAA --><input type="text" name="author" value="<%= Books.author %>" placeholder="Enter author" class="inputClass" required/>
            </div>
            <br>
            <div >
                <label for="contents">Contents</label>
                <br>
<!-- BBBBB --><textarea autoresize name="contents"  cols="60" rows="10" value="" placeholder="Enter content" required><%= Books.contents%></textarea>
            <br>
            <br>

        </form>

<!-- ============================================================================ -->  
<%- include('../../partials/membersHead'); %>
