
<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <%= i + 1 %>

    <a href="/update-user?id=<%= users[i]._id%>"><h4 id='aTitle'><%= users[i].title %></h4></a>
    <div><%= users[i].author %></div>
    <!-- <div><%= users[i].contents %></div> -->
    <textarea autoresize wrap="hard" id="textareaContent" type="text" cols="50" rows="12" name="contents" value="" placeholder="contents"><%= users[i].contents %></textarea>
    <td>
        <p class="modify" >modify </p><a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
            <span class="modifySymbol"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <p class="modify">delete</p><a href="" class="btn border-shadow delete" data-id=<%= users[i]._id%> >
            <span class="modifySymbol"><i class="fas fa-times"></i></span>
        </a>
        <br>
        <br>
    </td>
</tr>
<% } %>

