<%- include('../../partials/membersHead'); %>
<link rel="stylesheet" type="text/css" href="/public/cssFiles/members.css">
<link rel="stylesheet" type="text/css" href="/public/cssFiles/navbar_members.css">
</head>
<body>
<section>
    <%- include('../../partials/navbar_members'); %>
    <div class='spacer'></div> 


    <div class='purpleBox'>
        <div style="height: 500px;">
        <div>
            <a href=""><h3><%= Poem.title %></h3></a>
                <h4><%= Poem.author %></h4>           
        </div>
        <br> 
        <div>
            <p class="body_container"><%= Poem.body %></p>
        </div>
        </div>
    </div>

  
</section>
<%- include ('../../partials/footer') %>