<%- include('../../partials/membersHead'); %>
<link rel="stylesheet" type="text/css" href="/public/cssFiles/members.css">
<link rel="stylesheet" type="text/css" href="/public/cssFiles/navbar_members.css">
</head>
<body>
<section>
    <%- include('../../partials/navbar_members'); %>
    <div class='spacer'>
    </div>  
    <h2 class='purpleBox'>Books</h2> 
  
    <div class="purpleBox">
        <ul class="Books" class="body_container">
            <h3 style="color: #aaa">Select title to edit</h3>
        <% if (Books.length > 0) { %>
            <% Books.forEach(book => { %>
                <a href='/Books/<%= book._id %>'><h4 id='title' ><%= book.title %></h4></a>
                <p id="author"><%= book.author %></p>
                <p id='body'><%= book.contents %></p>
                
                <% }) %>
            <% } else { %>
                <p>There are no books to display.</p>
            <% } %>        

        </ul>
    </div>
    <div class="purpleBox">
        <a href="/dashboard">Home</a>__
        <a href="/users/logout">Logout</a>
    </div> 
</section>
<%- include ('../../partials/footer') %>