<%- include('../../partials/membersHead'); %>
<link rel="stylesheet" type="text/css" href="/public/cssFiles/members.css">
<link rel="stylesheet" type="text/css" href="/public/cssFiles/navbar_members.css">
</head>
<body>
<section>
    <%- include('../../partials/navbar_members'); %>
    <div class='spacer'>
    </div>  
    <h2 class='purpleBox'>Essays</h2> 
 
    <div class="purpleBox">
        <ul class="Essays">
  
        <% if (Essays.length > 0) { %>
            <% Essays.forEach(essay => { %>
                <a href='/Essays/<%= essay._id %>'>

                <h4 id='title' ><%= essay.title %></h4>
                </a>   
                <p id='body'><%= essay.body %></p>
               
                
                <% }) %>
            <% } else { %>
                <p>There are no essays to display.</p>
            <% } %>        

        </ul>
    </div>
    <div class="purpleBox">
        <a href="/dashboard">Home</a>__
        <a href="/users/logout">Logout</a>
    </div> 
</section>