<%- include('../../partials/membersHead'); %>
<link rel="stylesheet" type="text/css" href="/public/cssFiles/members.css">
<link rel="stylesheet" type="text/css" href="/public/cssFiles/navbar_members.css">
</head>
<body>
<section>
    <%- include('../../partials/navbar_members'); %>
    <div class='spacer'>
    </div>  
    <h2 class='purpleBox'>Poems</h2> 

    <div class="purpleBox">
        <ul class="Poems">
  
        <% if (Poems.length > 0) { %>
            <% Poems.forEach(poem => { %>
                <a href='/Poems/<%= poem._id %>'>

                <h4 id='title' ><%= poem.title %></h4>
                </a>
                <p id='body'><%= poem.body %></p>
               
                
                <% }) %>
            <% } else { %>
                <p>There are no poems to display.</p>
            <% } %>        

        </ul>
    </div>
    <div class="purpleBox">
        <a href="/dashboard">Home</a>__
        <a href="/users/logout">Logout</a>
    </div> 
</section>